<header [ngClass] = "['navbarsection','commonsection']">
  <div class="containers-menu container-header">
      <input type="checkbox" name="" id="check">
      <!-- <div class="logo-container">
          <h3 class="logo">Brand<span>Name</span></h3>
      </div> -->
      <div class="header-image">
          <!-- <img [src] = 'imgsource' [ngClass] = "['imgprofile']"> -->
          <img src="assets/images/img_avatar3.png" alt="image not display" [ngClass] = "['imgprofile']" />
      </div>
      <div class="nav-btn">
          <div class="nav-links">
              <ul>
                  <li class="nav-link" style="--i: .6s">
                      <a href="#" routerLink="about">About</a>
                  </li>
                  <li class="nav-link" style="--i: 1.35s">
                      <a href="#" routerLink="experience">Experience</a>
                  </li>
                  <li class="nav-link" style="--i: 1.35s">
                    <a href="#" routerLink="portfolio">Portfolio</a>
                  </li>
                  <li class="nav-link" style="--i: 1.35s">
                    <a href="#" routerLink="sklills">Skills</a>
                  </li>
                  <li class="nav-link" style="--i: 1.35s">
                    <a href="#" routerLink="awards">Awards</a>
                  </li>
                  <li class="nav-link" style="--i: 1.35s">
                    <a href="#" routerLink="contact">Contact</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="hamburger-menu-container">
          <div class="hamburger-menu">
              <div></div>
          </div>
      </div>
  </div>

</header>
