<div [ngClass] = "['portfolioExperience']">
  <div class="container">
    <div class="row">
       <div class="col-md-12">
         <h2>EXPERIENCE</h2>
         <hr>
       </div>
       <div class="col-md-6 mt-4">
           <div class="experience-card" data-aos="fade-down" data-aos-easing="ease-out-quart" data-aos-duration="2000">
              <h3>Senior Web Developer</h3>
              <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
              <h6>May 2021 - Present</h6>
           </div>
       </div>
       <div class="col-md-6 mt-4">
            <div class="experience-card" data-aos="fade-up" data-aos-easing="ease-out-quart" data-aos-duration="2000">
              <h3>Web Developer</h3>
              <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
              <h6>July 2019 - May 2021</h6>
            </div>
       </div>
       <div class="col-md-6 mt-4">
              <div class="experience-card" data-aos="fade-down" data-aos-easing="ease-out-quart" data-aos-duration="2000">
                <h3>Junior Web Designer</h3>
                <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                <h6>July 2019 - May 2021</h6>
              </div>
       </div>
       <div class="col-md-6 mt-4">
                <div class="experience-card" data-aos="fade-up" data-aos-easing="ease-out-quart" data-aos-duration="2000">
                  <h3>Junior PHP Developer</h3>
                  <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                  <h6>December 2020 - May 2021</h6>
                </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="experience-card" data-aos="fade-down" data-aos-easing="ease-out-quart" data-aos-duration="2000">
            <h3>Junior Node Js Developer</h3>
            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
            <h6>December 2020 - May 2021</h6>
          </div>
        </div>

    </div>
  </div>
</div>
