<div [ngClass] = "['portfolio']">
  <div class="container">
    <div class="row">
       <div class="col-md-12">
         <h2>PORTFOLIO</h2>
         <hr>
       </div>
       <div class="col-lg-2"></div>
       <div class="col-lg-8 col-md-12 mt-4">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="First" [ngClass]="['fisrttab']">

          </mat-tab>
          <mat-tab label="Second">

          </mat-tab>
          <mat-tab label="Third">

          </mat-tab>
          <mat-tab label="Four">

          </mat-tab>
        </mat-tab-group>
       </div>
       <div class="col-lg-2"></div>
    </div>
  </div>
</div>

