.portfolio {
  margin-top: 40px;
  @media screen and (max-width: 567px) {
    margin-top: 80px;
    // position: relative;
    // z-index: -1;
  }
  h2 {
    text-align: center;
    color: #896288;
    font-size: 36px;
    font-weight: 700;
  }
  hr {
    width: 10%;
    margin: -4px auto;
    border-top: 4px solid lightgray;
  }
}

::ng-deep {
  .mat-tab-nav-bar,
  .mat-tab-header {
    border-bottom: 1px solid #fff;
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: #3f51b5;
  }
  .mat-tab-label .mat-tab-label-content {
    font-size: 20px;
  }
}

.fisrttab {
  background: red;
}
