<div [ngClass] = "['portfolioAwards']">
  <div class="container">
    <div class="row">
       <div class="col-md-12">
         <h2>AWARDS</h2>
         <hr>
       </div>
       <div class="col-md-12">
        <div class="main-award" id="award-box">
          <div class="award">
              <div class="award-icon"></div>
              <div class="award-content">
                  <span class="date">Apr 2017 - Mar 2018</span>
                  <h5 class="title">Google Analytics Certified Developer</h5>
                  <p class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis felis vitae risus pulvinar tincidunt. Nam ac venenatis enim. Aenean hendrerit justo sed.
                  </p>
              </div>
          </div>
          <div class="award">
              <div class="award-icon"></div>
              <div class="award-content">
                  <span class="date">Apr 2018 - Mar 2019</span>
                  <h5 class="title">Mobile Web Specialist - Google Certification</h5>
                  <p class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis felis vitae risus pulvinar tincidunt. Nam ac venenatis enim. Aenean hendrerit justo sed.
                  </p>
              </div>
          </div>
      </div>
       </div>

    </div>
  </div>
</div>
