

<div [ngClass]="'aboutprofile'" [ngStyle] = "{'background':'url(assets/images/profile-banner.jpg)'}">
     <div class="container">
         <div class="row">
           <div class="col-md-12">
                <h1 data-aos="fade-down" data-aos-duration="2000">JAYA <span>PRAKASH</span></h1>
                <p data-aos="fade-up" data-aos-duration="1500">THE NEXT BIG IDEA IS WAITING FOR ITS NEXT BIG CHANGER WITH THEMSBIT</p>
           </div>
           <div class="col-lg-6 col-md-12 mt-4">
             <p [ngClass] = "['profileExperience']" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="2000">I am experienced in Front-End Developer to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
           </div>
           <div class="col-md-12">
             <ul>
               <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
               <li><a href="#"><i class="fab fa-twitter"></i></a></li>
               <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
               <li><a href="#"><i class="fab fa-github-alt"></i></a></li>
             </ul>
           </div>
         </div>
     </div>
</div>


